<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!--back end-->
    <div>
        <form action="." method="post">

            {% csrf_token %} {% for key, value in form.error.item%} {{value}} {% endfor %} {{form}}
            <!-- <p><label>Tài Khoản: </label> {{username}}</p>
            <p><label>Mật Khẩu: </label> {{password}}</p>
            <input type="hidden" name='next' value="/home" />
            <input type="submit" value="Đăng Nhập" /> -->
            <button type="submit">Submit</button>
        </form>
    </div>
    <!--back end-->
</body>

</html>